PyYAML==6.0.1
accelerate==1.1.1
bitsandbytes==0.44.1
einops==0.7.0
fairseq2==0.2.1
fairseq2n==0.2.1
fire==0.6.0
loguru==0.7.2
numpy==1.26.2
pandas==2.2.1
phonemizer==3.2.1
pytorch-ignite==0.5.1
scipy==1.11.4
sentence-transformers==3.3.1
sonar-space==0.2.1
soundfile==0.12.1
tokenizers==0.20.3
transformers==4.46.3
webdataset==0.2.100
torch==2.2.2
torchaudio==2.2.2
torchinfo==1.8.0
gast>=0.2.2
descript-audiotools==0.7.2
protobuf
tensorboardx==2.5.0
